@model IEnumerable<SampleMVC.Models.Category>

@{
	ViewData["Title"] = "GetFromServices";
}

<div class="row">
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Category Page</h1>
	</div>

	<div class="col-lg-12">
		<!-- Basic Card Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Category Page</h6>
			</div>
			<div class="card-body">
				<p>
					<a asp-action="Create">Create New</a>
				</p>
				<table class="table">
					<thead>
						<tr>
							<th>
								@Html.DisplayNameFor(model => model.categoryID)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.categoryName)
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.categoryID)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.categoryName)
								</td>
								<td>
									@Html.ActionLink("Edit", "Edit", new { id = item.categoryID }) |
									@Html.ActionLink("Details", "Details", new { id = item.categoryID }) |
									@Html.ActionLink("Delete", "Delete", new { id = item.categoryID })
								</td>
							</tr>
						}
					</tbody>
				</table>

			</div>

		</div>
	</div>
</div>

